header {
  background-color: blue;
  color: white;
}

ul {
  background-color: lightblue;
  margin-left: 5px;
  list-style-type: none;

}

li {
  font-size: 16px;
  border: solid lightgray;
  background-color: white;
}

.container {
  width: 100%;
}

.cities {
  background-color: lightblue;
  margin-left: 5px;
}

.details {
  background-color: lightblue;
  margin-left: 5px;

}

.details-top {
  display: inline;
}

.city-date-img {
  display: inline;
  font-size: 30px;
  font-style: bold;
}